Some notes which I had taken down for pandas.

In [1]:
import pandas as pd
import numpy as np

Searching and replacing a pattern in a column in a pandas dataframe

In [2]:
d = {
    'id': [100, 200], 
    'details': ['{"name" => "abc", "age" => 23}', '{"name" => "def", "age" => 24}']
    }
df = pd.DataFrame(d)
df

    id                         details
0  100  {"name" => "abc", "age" => 23}
1  200  {"name" => "def", "age" => 24}

Now let's replace the '=>' in the second column to convert the data into json format

In [3]:
df['details'] = df['details'].str.replace('=>', ':')
df

    id                       details
0  100  {"name" : "abc", "age" : 23}
1  200  {"name" : "def", "age" : 24}

Lets add another column into the dataframe

In [4]:
sports = ['Football|Cricket', 'Football|Hockey|Chess|Badminton']
df['sports'] = sports
df

    id                       details                           sports
0  100  {"name" : "abc", "age" : 23}                 Football|Cricket
1  200  {"name" : "def", "age" : 24}  Football|Hockey|Chess|Badminton

Now to convert the 'sports' column into a json array split by '|', we have apply the following logic of converting a list to a json array on the whole column-

In [5]:
import json

In [6]:
x = [str(i) for i in range(10)]
x

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [7]:
json.dumps(x)

'["0", "1", "2", "3", "4", "5", "6", "7", "8", "9"]'

Now let's apply this to the whole column.

In [8]:
df['sports'] = df['sports'].str.split('|').apply(lambda x: json.dumps(x))
df

,id,details,sports
0,100,"{""name"" : ""abc"", ""age"" : 23}","[""Football"", ""Cricket""]"
1,200,"{""name"" : ""def"", ""age"" : 24}","[""Football"", ""Hockey"", ""Chess"", ""Badminton""]"

### Dropping columns in a Dataframe.

Let's create a fake dataset using faker first

In [9]:
from faker import Faker

In [10]:
fake = Faker()

In [11]:
df = pd.DataFrame()
df['name'] = [fake.name() for _ in range(1000)]
df['ip'] = [fake.ipv4_private(network=False, address_class=None) for _ in range(1000)]
df['isTrue'] = np.random.randint(0, 2, size=1000, dtype=np.uint8).view(bool)
df['phone'] = [fake.phone_number() for _ in range(1000)]
df['job'] = [fake.job() for _ in range(1000)]
df['location'] = [fake.locale() for _ in range(1000)]
df['md5'] = [fake.md5(raw_output=False) for _ in range(1000)]

In [12]:
df

,name,ip,isTrue,phone,job,location,md5
0,Jimmy Mclean,10.70.202.157,False,03149870813,Information officer,el_GR,457ad5e643f3bd5d0ca853d9d16c42c9
1,Kristy Booth PhD,192.168.159.53,True,+46(1)9168137510,Community development worker,nso_ZA,c19203e19196cfe10340cded8c051d5d
2,Joseph Thomas,10.19.48.42,False,(306)348-2680x793,Environmental manager,st_ZA,f422b9599bf833131b4cbad7d966383b
3,Misty Ortega,192.168.139.200,False,1-200-180-6592x809,Insurance risk surveyor,an_ES,0950d6b203d9c53c1d5fa25e341802fd
4,Debra Tanner,10.59.10.37,False,(667)065-7829x175,"Production assistant, television",ku_TR,be785f221a060be0a7eb3b1cb528e9b7
5,Alexander Jordan,10.231.150.211,False,094-025-8959x972,Financial manager,nb_NO,3851f57a91c8984630a9cbce77ffdd16
6,Ann Hudson,172.19.181.214,False,(366)204-8540x54692,Sports development officer,tn_ZA,2cd5d17d35e8e2bc3042b36ae03771d4
7,Jacob Woods,10.39.64.23,True,1-713-211-2676,"Scientist, water quality",uk_UA,fd5d1da1f7af185755e713faa33e142d
8,Julia Nixon,192.168.159.97,True,(239)310-6216x878,"Psychologist, forensic",it_CH,8d8fe60b323a2725ab74f30e65dfc6c5
9,Elizabeth Pierce,10.30.17.55,False,940.181.8203x7708,Facilities manager,bhb_IN,7e77d7e9846627811f1ae6d8fd3b1542
10,James Dixon,172.31.11.128,False,(583)201-4839x5553,Community education officer,as_IN,ce41800718fa55ca321e0f8b42333105
11,Kimberly Anthony,172.19.63.252,False,(559)002-0044,Politician's assistant,ti_ET,c6583aa9429adb6865ebcf0bee6bfe63
12,Alexis Larson,192.168.188.240,True,1-964-170-9325x32739,Video editor,sr_ME,bc34d8f1b64ee18ddd98adbabb709b55
13,Tony Morrison,172.20.86.29,False,(931)445-0450,Theatre stage manager,ia_FR,8e9eac62f9ce6c6116689ed3a10f9a23
14,Brian Mack,172.16.43.249,False,(281)240-8894x834,Occupational hygienist,st_ZA,a8e1378d9a204c52f11287356919aa95
15,Emily Grant,192.168.127.237,True,+95(7)4058375549,Sports therapist,is_IS,e3529faaa5190f6c930f9f99c8a63cf9
16,Tina Black,192.168.82.46,False,614-001-9644x6084,Marketing executive,bho_IN,b9edc9e325baa22eea6b9ea69889bf89
17,Justin Garcia,172.16.241.220,False,1-713-329-2210,Audiological scientist,lb_LU,41e1fcfe8f1a895c81afdeb70f7a1f5f
18,Tim Hudson,10.169.203.19,True,272-299-3531x281,Mining engineer,ne_NP,9660bf75cb63b5a1ddbdfc95335df4b8
19,Joshua Gibson,10.160.125.101,True,027.634.5739,Advertising account executive,ast_ES,820dd13bd995bd48c0458214b547814f
20,Jasmine Wright,192.168.13.3,True,183-074-3910,Barrister's clerk,lo_LA,2329c3ac6816edbe7966cf2bac7db48e
21,Larry Walton,192.168.39.39,False,(572)152-7184x80754,Lobbyist,ko_KR,ae93ffd3e420af40c8fb0ba0a3b12c89
22,Rebecca Smith,172.31.20.2,True,+50(5)1597560901,Airline pilot,quz_PE,051cfbebbdd72fad730dda749da8b847
23,Michael Hamilton,10.30.232.66,False,+47(2)3797971914,Information officer,fa_IR,96ee41cff42d53940aab062a30b2af6b
24,Rachel Nguyen,172.29.70.154,True,(937)887-2814,Firefighter,eu_ES,12f5ed339c3f82b5dcc4419f1d96340c
25,John Arias,172.29.61.128,False,1-440-221-4398x362,Quality manager,tk_TM,d40e4aa54c8db1635c5473bbb63392cc
26,Jennifer Dyer,192.168.116.105,False,+69(5)6785176391,Holiday representative,tcy_IN,13350979d8bbe7b0507febee2b902c22
27,James Turner,10.41.28.199,False,+95(6)8370139357,"Administrator, education",an_ES,d0623b32d36e1b8b0f6556ccf9855c0f
28,Dwayne Cox,192.168.244.20,False,08322704518,Mental health nurse,hne_IN,c7483a82337e0c859d425d4fac3d7982
29,Casey Wong,172.31.100.115,True,(868)101-2705,Financial adviser,sd_IN,3cef6453f281099ee0fe8a13c39c1c4e
...,...,...,...,...,...,...,...
970,Brian Miller,10.106.255.76,False,+48(2)5112909059,Company secretary,ast_ES,8d943b628176618bc4510e73765e878d
971,Michael Maldonado,10.186.6.26,True,1-435-620-8261,Estate agent,eu_ES,175afd9e616d61974dc58d3304247dfa
972,Danielle Stafford,192.168.98.221,True,962-423-4396,"Merchandiser, retail",gd_GB,ef8f5fec2c18cf6b5d55b5d2db186a66
973,Monica Martin,172.25.66.112,True,802-797-5001x49486,"Exhibitions officer, museum/gallery",fur_IT,e89b9183568e5476318a556a59c67250
974,Steven Palmer II,192.168.134.121,False,744.160.0138,Research scientist (physical sciences),wal_ET,b2ab3aea96d77346e36f225168ad4ee1
975,Amber Shaw,192.168.154.121,False,1-923-001-6008,Textile designer,sq_ML,7c2216931d1e8ab9ec2ac44bf40ba0de
976,Michael Ramos,172.24.195.16,False,00323245430,English as a second language teacher,sr_RS,5869838643ff7da74709739e0a22220d
977,Garrett Mccoy,172.23.211.10,False,118-834-2415x8929,Higher education lecturer,kn_IN,125681235e7129c5b69404725f38726b
978,Eduardo Flores DDS,10.125.4.54,False,481.834.6651x6757,Visual merchandiser,bhb_IN,ce823d97bc0cfd35a2938bf97899a01b
979,Daniel Doyle,10.246.50.11,True,652-685-0913x93683,Primary school teacher,mhr_RU,b9ce5d4c423e44520e8f9fd73a70265c
980,Bridget Moreno,172.25.187.183,True,+76(7)5580271347,Amenity horticulturist,xh_ZA,12c45b45c9510725d99727dcf6026ce8
981,Jason Perez,192.168.147.40,True,+03(5)5043626102,Barista,he_IL,ab3ff9eaae64450c52ae260ecd32f146
982,Michael Duncan,172.16.243.139,True,1-995-122-2600x42799,Neurosurgeon,km_KH,00adfd0ff098296f3cd4304ca06a258b
983,Scott Kelly,192.168.120.60,False,(149)702-7885x2976,Youth worker,mni_IN,613ae25fd6061ca554caf5ada910d556
984,Christina Waters,172.17.238.168,True,730-027-3831x410,Educational psychologist,sd_IN,070703d72a6be7ddac3d86a95a630c73
985,Gloria Lamb,192.168.119.33,True,125.362.2387,"Teacher, adult education",af_ZA,48c7a9f6dc1d3d5d7fe771179e567487
986,Paul Beck,10.51.22.255,False,1-231-444-5881,"Journalist, magazine",ka_GE,056032182aa714f0a9c649d56e7c2821
987,Max Rivera,10.54.166.228,False,(815)823-7929x454,Clinical molecular geneticist,zu_ZA,06ba87ad1a5271b5a2b415f3f98a9344
988,Rachel Thompson,172.16.69.95,True,07881436430,Technical brewer,tn_ZA,279a977a74bbd90c73ac734f4396a368
989,Penny Young,192.168.104.124,False,060-196-7484x58440,Firefighter,bo_CN,78d2de47cb28984c5bd4ff14206ec4f1
990,Carrie Sanders,10.105.49.98,True,943.468.3424x5344,Product manager,ha_NG,c646de0e5ebe6c303b3f022f5deb715d
991,Charles Mcbride,172.22.184.249,True,1-138-015-0484x8941,"Psychologist, clinical",quz_PE,4b7f0120641c799a5fe2566dfe89ae25
992,Karen Aguilar,172.29.18.207,True,1-327-776-9554x9671,Occupational hygienist,az_AZ,ff64b2d05c9bada51405d10fc2255d96
993,Jessica Williams,10.21.98.106,False,(490)348-1542x714,Special educational needs teacher,tig_ER,ccac04221c08fce27f08bf88a3da9092
994,Douglas Jarvis,192.168.76.26,False,(726)040-3789x789,Chief Strategy Officer,bg_BG,34b0dc12580a68404747a8563fffd0c1
995,James Myers,10.222.81.139,True,1-186-863-1231,"Surveyor, quantity",zu_ZA,136d0a7076b287e99580ff76e385a3ce
996,Penny Morgan,10.90.164.0,False,03993623499,Health promotion specialist,km_KH,21283f9782f96bb2b4574f8f23e60426
997,Bryan Lopez,10.191.143.217,True,1-540-391-1586x162,"Psychologist, sport and exercise",hy_AM,750177a77582057040b1e6fd83bbb960
998,Thomas Smith,10.87.48.164,True,(329)611-4424x196,Futures trader,mt_MT,8307d6496fc120db3732466ef6f45580
999,Ronald Callahan,192.168.202.220,False,206-037-0240x672,Comptroller,mg_MG,4eeaa065b8f04fda2e7ec05430a611a0

Now if we want to remove the columns 'isTrue' and 'md5'

In [13]:
to_drop = ['isTrue', 'md5']
df.drop(to_drop, inplace=True, axis=1)
df

,name,ip,phone,job,location
0,Jimmy Mclean,10.70.202.157,03149870813,Information officer,el_GR
1,Kristy Booth PhD,192.168.159.53,+46(1)9168137510,Community development worker,nso_ZA
2,Joseph Thomas,10.19.48.42,(306)348-2680x793,Environmental manager,st_ZA
3,Misty Ortega,192.168.139.200,1-200-180-6592x809,Insurance risk surveyor,an_ES
4,Debra Tanner,10.59.10.37,(667)065-7829x175,"Production assistant, television",ku_TR
5,Alexander Jordan,10.231.150.211,094-025-8959x972,Financial manager,nb_NO
6,Ann Hudson,172.19.181.214,(366)204-8540x54692,Sports development officer,tn_ZA
7,Jacob Woods,10.39.64.23,1-713-211-2676,"Scientist, water quality",uk_UA
8,Julia Nixon,192.168.159.97,(239)310-6216x878,"Psychologist, forensic",it_CH
9,Elizabeth Pierce,10.30.17.55,940.181.8203x7708,Facilities manager,bhb_IN
10,James Dixon,172.31.11.128,(583)201-4839x5553,Community education officer,as_IN
11,Kimberly Anthony,172.19.63.252,(559)002-0044,Politician's assistant,ti_ET
12,Alexis Larson,192.168.188.240,1-964-170-9325x32739,Video editor,sr_ME
13,Tony Morrison,172.20.86.29,(931)445-0450,Theatre stage manager,ia_FR
14,Brian Mack,172.16.43.249,(281)240-8894x834,Occupational hygienist,st_ZA
15,Emily Grant,192.168.127.237,+95(7)4058375549,Sports therapist,is_IS
16,Tina Black,192.168.82.46,614-001-9644x6084,Marketing executive,bho_IN
17,Justin Garcia,172.16.241.220,1-713-329-2210,Audiological scientist,lb_LU
18,Tim Hudson,10.169.203.19,272-299-3531x281,Mining engineer,ne_NP
19,Joshua Gibson,10.160.125.101,027.634.5739,Advertising account executive,ast_ES
20,Jasmine Wright,192.168.13.3,183-074-3910,Barrister's clerk,lo_LA
21,Larry Walton,192.168.39.39,(572)152-7184x80754,Lobbyist,ko_KR
22,Rebecca Smith,172.31.20.2,+50(5)1597560901,Airline pilot,quz_PE
23,Michael Hamilton,10.30.232.66,+47(2)3797971914,Information officer,fa_IR
24,Rachel Nguyen,172.29.70.154,(937)887-2814,Firefighter,eu_ES
25,John Arias,172.29.61.128,1-440-221-4398x362,Quality manager,tk_TM
26,Jennifer Dyer,192.168.116.105,+69(5)6785176391,Holiday representative,tcy_IN
27,James Turner,10.41.28.199,+95(6)8370139357,"Administrator, education",an_ES
28,Dwayne Cox,192.168.244.20,08322704518,Mental health nurse,hne_IN
29,Casey Wong,172.31.100.115,(868)101-2705,Financial adviser,sd_IN
...,...,...,...,...,...
970,Brian Miller,10.106.255.76,+48(2)5112909059,Company secretary,ast_ES
971,Michael Maldonado,10.186.6.26,1-435-620-8261,Estate agent,eu_ES
972,Danielle Stafford,192.168.98.221,962-423-4396,"Merchandiser, retail",gd_GB
973,Monica Martin,172.25.66.112,802-797-5001x49486,"Exhibitions officer, museum/gallery",fur_IT
974,Steven Palmer II,192.168.134.121,744.160.0138,Research scientist (physical sciences),wal_ET
975,Amber Shaw,192.168.154.121,1-923-001-6008,Textile designer,sq_ML
976,Michael Ramos,172.24.195.16,00323245430,English as a second language teacher,sr_RS
977,Garrett Mccoy,172.23.211.10,118-834-2415x8929,Higher education lecturer,kn_IN
978,Eduardo Flores DDS,10.125.4.54,481.834.6651x6757,Visual merchandiser,bhb_IN
979,Daniel Doyle,10.246.50.11,652-685-0913x93683,Primary school teacher,mhr_RU
980,Bridget Moreno,172.25.187.183,+76(7)5580271347,Amenity horticulturist,xh_ZA
981,Jason Perez,192.168.147.40,+03(5)5043626102,Barista,he_IL
982,Michael Duncan,172.16.243.139,1-995-122-2600x42799,Neurosurgeon,km_KH
983,Scott Kelly,192.168.120.60,(149)702-7885x2976,Youth worker,mni_IN
984,Christina Waters,172.17.238.168,730-027-3831x410,Educational psychologist,sd_IN
985,Gloria Lamb,192.168.119.33,125.362.2387,"Teacher, adult education",af_ZA
986,Paul Beck,10.51.22.255,1-231-444-5881,"Journalist, magazine",ka_GE
987,Max Rivera,10.54.166.228,(815)823-7929x454,Clinical molecular geneticist,zu_ZA
988,Rachel Thompson,172.16.69.95,07881436430,Technical brewer,tn_ZA
989,Penny Young,192.168.104.124,060-196-7484x58440,Firefighter,bo_CN
990,Carrie Sanders,10.105.49.98,943.468.3424x5344,Product manager,ha_NG
991,Charles Mcbride,172.22.184.249,1-138-015-0484x8941,"Psychologist, clinical",quz_PE
992,Karen Aguilar,172.29.18.207,1-327-776-9554x9671,Occupational hygienist,az_AZ
993,Jessica Williams,10.21.98.106,(490)348-1542x714,Special educational needs teacher,tig_ER
994,Douglas Jarvis,192.168.76.26,(726)040-3789x789,Chief Strategy Officer,bg_BG
995,James Myers,10.222.81.139,1-186-863-1231,"Surveyor, quantity",zu_ZA
996,Penny Morgan,10.90.164.0,03993623499,Health promotion specialist,km_KH
997,Bryan Lopez,10.191.143.217,1-540-391-1586x162,"Psychologist, sport and exercise",hy_AM
998,Thomas Smith,10.87.48.164,(329)611-4424x196,Futures trader,mt_MT
999,Ronald Callahan,192.168.202.220,206-037-0240x672,Comptroller,mg_MG