# Python Tricks

This notebook contains some interesting python tricks. Not sure what this will evolve into. Let's see!!

## '==' vs 'is

> 'is' expressions evaluates to True if two variables point to the same object.

> '==' evaluates to True if the objects referred to by the variables are equal

Take the following example.

In [1]:
a = [1, 2, 3]
b = a
b

[1, 2, 3]

In [2]:
a is b

True

In [3]:
a == b

True

In [4]:
print(f'id of a = {id(a)}')
print(f'id of b = {id(b)}')

id of a = 4371664840
id of b = 4371664840

In [5]:
c = list(a)
c

[1, 2, 3]

In [10]:
a == c

True

In [11]:
a is c

False

In [12]:
print(f'id of a = {id(a)}')
print(f'id of c = {id(c)}')

id of a = 4371664840
id of c = 4371891208

# Some pandas tricks

In [13]:
list1 = [(i, f'{i}th element', i*i) for i in range(10)]
for ele in list1:
    print(ele)

(0, '0th element', 0)
(1, '1th element', 1)
(2, '2th element', 4)
(3, '3th element', 9)
(4, '4th element', 16)
(5, '5th element', 25)
(6, '6th element', 36)
(7, '7th element', 49)
(8, '8th element', 64)
(9, '9th element', 81)

In [14]:
import pandas as pd
df = pd.DataFrame(list1)
print(df)

   0            1   2
0  0  0th element   0
1  1  1th element   1
2  2  2th element   4
3  3  3th element   9
4  4  4th element  16
5  5  5th element  25
6  6  6th element  36
7  7  7th element  49
8  8  8th element  64
9  9  9th element  81

## Reorder the columns

In [15]:
cols = df.columns.tolist()

#Now reorder the columns as required
cols = cols[-1:] + cols[:-1]

#apply the cols to the dataframe
df = df[cols]
print(df)

    2  0            1
0   0  0  0th element
1   1  1  1th element
2   4  2  2th element
3   9  3  3th element
4  16  4  4th element
5  25  5  5th element
6  36  6  6th element
7  49  7  7th element
8  64  8  8th element
9  81  9  9th element

## Randomise the dataframe in place and reorder index

In [17]:
df = df.sample(frac=1).reset_index(drop=True)
print(df)

    2  0            1
0   9  3  3th element
1  81  9  9th element
2  49  7  7th element
3  16  4  4th element
4   0  0  0th element
5  25  5  5th element
6   1  1  1th element
7   4  2  2th element
8  36  6  6th element
9  64  8  8th element